@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

html,
body {
  background-color: theme('colors.primary.900');
  color: theme('colors.primary.300');
  font-size: 14px;
}

.bar-of-progress::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px currentColor, 0 0 5px currentColor;
  transform: rotate(3deg) translate(0, -4px);
}